body {
    background-color: rgb(46, 46, 46);
}

.orange-bar {
    width: 100%;
    height: 100px;
    background-color: rgb(255, 102, 0);
    position: absolute;
    top: 0;
    left: 0;
}

.ob-title {
    text-align: center;
    color: white;
}

.login-image {
  width: 35vw;
  flex-direction: column;
  position: absolute;
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 2%;
  transform: translate(-120%, 20%);
  border-radius: 10%;
}

.login-container {
    width: 300px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: translate(1215px, 190\px);
}

.login-form {
  display: flex;
  flex-direction: column;
}
.login-texto {
  text-align: center;
  color: #333;
}

label {
  margin-top: 10px;
  color: #555;
}

input {
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #009200;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
  /* f */
    